body {
  background-color: #fff;
}
p {
  font-family: 'Lato', Arial, sans-serif;
  font-size: 27px;
  font-weight: 400;
  color: #3C3C3C;
  margin-bottom: 30px;
}

.textbox {
  margin-top: 50px;
}

.footer p {
  font-size: 1em;
}

hr {
  border:1px solid #ccc;
}
.topimg {
   padding-top: 70px;
}
@media (min-width: 1200px) {
  .container {
      width: 1170px;
      width: 50%;
  }
}
b, strong {
  font-weight: 400;
}
